.container {
  width: 100%;
  height: 100vh;
  color: white;

  .cover {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;

    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .info {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 20%;
    left: 10%;

    .genre {
      span {
        color: #858688;
        text-transform: uppercase;
        font-family: 'Segoe UI';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 3px;
      }
    }

    .title-img {
      position: relative;
      height: auto;
      width: 500px;
      margin-bottom: 20px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .year-age-time {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      span {
        font-size: 18px;
        color: #fff;
        font-weight: normal;
        margin-right: 5px;
      }
    }

    .about {
      font-size: 24px;
      width: 600px;
      height: auto;
      margin-bottom: 20px;
    }

    .buttons {
      display: flex;
      justify-content: flex-start;
      button {
        background-color: #fff;
        color: #000;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
        width: 150px;
        height: 50px;
        border-radius: 30px;
        font-size: 24px;
        font-weight: bold;

        &:hover {
          background-color: #2727f5;
          color: white;
        }
      }
    }
  }

  .carousel {
    position: relative;
    display: flex;
    align-items: center;
    background-color: black;

    #slider {
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
      width: 100%;
      height: 100%;

      img {
        width: 220px;
        display: inline-block;
        padding: 2px;
        cursor: pointer;
        transition: 0.2s ease-in-out;

        &:hover {
          scale: 1.2;
        }
      }
    }
  }
}
